.gridcontainer {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  grid-template-rows: repeat(5, 60px);
  grid-template-areas:
    ". icon1 ."
    "icon2 icon3 icon4"
    "icon5 icon6 icon7"
    "icon8 icon9 icon10"
    ". icon11 .";
}

.icon1 {
  grid-area: icon1;
}

.icon2 {
  grid-area: icon2;
}
.icon3 {
  grid-area: icon3;
}
.icon4 {
  grid-area: icon4;
}
.icon5 {
  grid-area: icon5;
}
.icon6 {
  grid-area: icon6;
}
.icon7 {
  grid-area: icon7;
}
.icon8 {
  grid-area: icon8;
}
.icon9 {
  grid-area: icon9;
}
.icon10 {
  grid-area: icon10;
}

.icon11 {
  grid-area: icon11;
}
