.navbar {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 50px;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.list a:hover {
  color: #aad372;
  cursor: pointer;
}

.list a:active {
  color: #9b72d3;
}

@media (min-width: 1000px) {
  .list {
    display: flex;
    flex-direction: column;
  }
}

.navbar svg {
  position: relative;
  left: 20px;
  top: 10px;
}
